<h3><i class="fa-solid fa-head-side-cough"></i> Rants</h3>
<div class="section">
    <p class="lead">A place where you can rant as much as you'd like</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>