p {
    margin: 10px 0 !important;
}
.login-container{
    width: 20%;
    margin-top: 2.5%;
    text-align: center;
}

.fa-small {
    font-size: 90% !important;
}

.btn-float {
    float: left;
    margin-right: 10%;
}

.img-small {
    width: 50%;
}